body {
    font-family: 'Arial', sans-serif;
    background-color: #fde5d885; /* Светло-серый фон */
    background-image: url('https://subbotindm.github.io/5297135.jpg'); /* Заменить на реальный путь к изображению паттерна */
    background-size: cover;
    background-blend-mode: lighten; /* Лёгкое приглушение паттерна */
    background-attachment: fixed; /* Фиксированный фон */
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    color: #2b7a78; /* Насыщенный бирюзовый цвет */
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #3d405b; /* Тёмный цвет для контраста */
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.6;
}

em {
    font-size: 18px;
    color: #2b7a78;
    margin-top: 15px;
    margin-bottom: -15px;
    line-height: 1.6;
}

.magic-block {
    background-color: #ffe5d9; /* Светло-розовый фон для блока */
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.magic-block p {
    font-size: 18px;
    color: #2b7a78; /* Бирюзовый цвет текста внутри блока */
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }

    .magic-block p {
        font-size: 18px;
    }
}


.collapsible {
    margin-top: 20px;
    text-align: left;
}

.shortcut {
    background-color: #ff6075; /* Еще более насыщенный розовый цвет */
    color: #fff;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: calc(100% - 20px); /* Ширина с учётом отступов */
    display: inline-block;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box; /* Включаем отступы в расчёт ширины */
}

.shortcut:hover {
    background-color: #ff4055; /* Насыщенный цвет при наведении */
}

.shortcut:active {
    background-color: #ff99aa; /* Более блеклый цвет при нажатии */
}

.collapsible-content {
    display: none; /* Контент свёрнут по умолчанию */
    overflow: hidden;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px); /* Ширина с учётом отступов */
    box-sizing: border-box; /* Включаем отступы в расчёт ширины */
}

.collapsible-content p {
    margin: 0;
    color: #3d405b;
}

.collapsible-content iframe {
    width: 100%;
    border-radius: 5px;
}

.audio-block {
    margin-top: 30px;
    background-color: #ffe5d9; /* Светло-розовый фон */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.audio-block p {
    font-size: 18px;
    color: #2b7a78; /* Бирюзовый цвет текста */
    margin-bottom: 10px;
}

audio {
    width: 100%;
    outline: none;
    border-radius: 5px;
}
